<footer>
  <span class="left">Book Lib Web App</span>
  <span class='fa-stack fa-lg'>
    <a href="https://developer.mozilla.org">
      <i class='far fa-square fa-stack-2x'></i>
      <i class='fab fa-js fa-stack-1x' aria-hidden="true"></i>
    </a>
  </span>
  <span class='fa-stack fa-lg'>
    <a href="https://angular.io">
      <i class='far fa-square fa-stack-2x'></i>
      <i class="fab fa-angular fa-stack-1x" aria-hidden="true"></i>
    </a>
  </span>

  <span class='fa-stack fa-lg'>
    <a href="https://github.com/AneeshVDas">
      <i class='far fa-square fa-stack-2x'></i>
      <i class="fab fa-github" aria-hidden="true"></i>
    </a>
  </span>
  <span class="right"> &copy; 2022 Book Library - all rights reserved</span>
</footer>