
    
    <!-- Material form register -->
    <!-- <div class="card mx-auto container">
        <h3 class="card-header info-color white-text text-center py-4">
          <strong>Welcome to Granthashala</strong>
        </h3>
        <br />
        <h3 class="card-header info-color white-text text-center py-4">
            <strong>Please Login/Signup to access</strong>
          </h3>
          <br />
        
      </div>
   -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <div class="p-profile"></div>
          </div>
          <div class="col-sm-7 p-rgt-sec">
            <span>TRADING</span>
            <h1 style="color:white;">INVEST NOW</h1>
            <p class="p-des mt-3 mb-4">Build Your Own an Investment Portfolio. Open an Account & Start Trading. Instant Access. Start Trading with IQ Option in One Click. $10 Minimum Deposit. $1 Minimum Investment.</p>
            <a routerLink="" class="p-readmore"> Read More<img src="https://t3.ftcdn.net/jpg/05/13/53/98/240_F_513539871_wFKAJTgzv8FeQjvLuabfycbgeQtkWb38.jpg" alt="read" width="15" class="ml-2" />
            </a>
            <div>
            <h6 style="color:white ;">Check our NewsLetter</h6>
            <form class="form-inline" autocomplete="off">
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Enter Your Email Here" autocomplete="off">
                <button class="btn btn-warning">SIGN UP</button>

              </div>
            </form>
          </div>
        </div>
      <!-- card start -->
      <div class="container">
        <div class="row">
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-blue order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Sign up in 3 minutes</h6>
                        <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>486</span></h2>
                        <p class="m-b-0"><span class="f-right">351</span></p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-green order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Deposit instantly</h6>
                        <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>486</span></h2>
                        <p class="m-b-0"><span class="f-right">351</span></p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-yellow order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Become an investor</h6>
                        <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>486</span></h2>
                        <p class="m-b-0"><span class="f-right">351</span></p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-pink order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Withdraw Easily</h6>
                        <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>486</span></h2>
                        <p class="m-b-0"><span class="f-right">351</span></p>
                    </div>
                </div>
            </div>
      </div>
    </div>